<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://raw.githubusercontent.com/appk-asuuli/Apk_asa/master/VideoStar.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://is1-ssl.mzstatic.com/image/thumb/Purple126/v4/91/31/33/91313330-22c1-2309-847d-815d78709503/AppIcon-0-0-1x_U007emarketing-0-0-0-7-0-0-sRGB-0-0-0-GLES2_U002c0-512MB-85-220-0-0.png/180x180bb.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.frontierdesign.videostar</string>
				<key>bundle-version</key>
				<string>15.0.3</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>Video Star Pro - Apk Asa</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
