<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://www.dropbox.com/scl/fi/y87g56bof9t1mizsh6v5h/Video-Star-Pro_13.2.3_1738622830.ipa?rlkey=vxralplci9p3e79ptso0cda1y&st=i002i302&raw=1</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.videostar.ios</string>
                <key>bundle-version</key>
                <string>13.2.3</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Video Star Pro</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
