<!DOCTYPE html>
<html lang="ku">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apk Asa</title>
    <style>
        body { background-color: #0d1117; color: white; text-align: center; font-family: sans-serif; padding-top: 100px; }
        .btn { background-color: #238636; color: white; padding: 20px 40px; text-decoration: none; border-radius: 12px; font-size: 22px; font-weight: bold; display: inline-block; }
    </style>
</head>
<body>
    <h1>سێرڤەری ئاپک ئاسا</h1>
    <p>بۆ داگرتنی ڤیدیۆ ستار کلیک لە خوارەوە بکە</p>
    <br>
    <a href="itms-services://?action=download-manifest&url=https://raw.githubusercontent.com/appk-asuuli/Apk_asa/main/manifest.plist" class="btn">Install Video Star</a>
</body>
</html>
